<ion-header>
  <ion-toolbar>
    <ion-title>Spotlight</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-icon id="pinTag" name="pin" slot="start" (click)="goToMap()"></ion-icon>
      <ion-button fill="outline" slot="end" (click)="goToVendor()">More Info</ion-button>
      <img id="VendorImg" slot="start" src="assets/vendor1.jpg">
    </ion-item>
  
    <ion-card-content id="VendorInfo">
      <ion-label id="VendorTitel">Downtown Fingers</ion-label>
      <br>
      Location: 
      Hours:
      Rating: 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon id="pinTag" name="pin" slot="start" (click)="goToMap()"></ion-icon>
      <ion-button fill="outline" slot="end" (click)="goToVendor()">More Info</ion-button>
      <img id="VendorImg" slot="start" src="assets/vendor2.jpg">
    </ion-item>
  
    <ion-card-content id="VendorInfo">
      <ion-label id="VendorTitel">Richeeze</ion-label>
      <br>
      Location: 
      Hours:
      Rating: 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon id="pinTag" name="pin" slot="start" (click)="goToMap()"></ion-icon>
      <ion-button fill="outline" slot="end" (click)="goToVendor()">More Info</ion-button>
      <img id="VendorImg" slot="start" src="assets/vendor3.jpg">
    </ion-item>
  
    <ion-card-content id="VendorInfo">
      <ion-label id="VendorTitel">Nathans</ion-label>
      <br>
      Location: 
      Hours:
      Rating: 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon id="pinTag" name="pin" slot="start" (click)="goToMap()"></ion-icon>
      <ion-button fill="outline" slot="end" (click)="goToVendor()">More Info</ion-button>
      <img id="VendorImg" slot="start" src="assets/vendor4.jpg">
    </ion-item>
  
    <ion-card-content id="VendorInfo">
      <ion-label id="VendorTitel">Charlotte's</ion-label>
      <br>
      Location: 
      Hours:
      Rating: 
    </ion-card-content>
  </ion-card>




  
</ion-content>
