ion-content{
    --ion-background-color: #d46a6a;
}

ion-card{
    --ion-background-color: #aa3939;
}


#VendorTitel{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
}

#VendorImg{
    height: 150px;
    width: 180px;
    border-width: 5px;
    border-color: #550000;
    border-style: ridge;
}

#moreInfoBttn{
    color: white;
}

#pinTag{
    height: 20px;
    width: 20px;
}

#VendorInfo{
    font-size: 15px;
    font-weight: bold;
    color: black;
}

#cards{
    margin-top: 20%;
}

#backgroundColor{
    background-color: #aa3939;
}

#cardBackgroundColor{
    background-color: #aa3939;
}

#text {
    color: #FFFFFF;
}

#toolbar {
    margin-top: 4%;
}