<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-textarea></ion-textarea>

  <div id="loginPage">
    <ion-item>
      <ion-textarea placeholder="Enter Username"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Enter Password"></ion-textarea>
    </ion-item>
  </div>
  

  <ion-button (click)="goToLanding()">Submit</ion-button>

</ion-content>
