<ion-app>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Munchie Stop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
  
  <ion-tabs>
    <ion-tab tab="home">
      <h1><ion-button>Log in</ion-button></h1>
    </ion-tab>
    <ion-tab tab="settings">
      <h1><ion-button (click)="gotoLogin()">Sign Up</ion-button></h1>
    </ion-tab>

    <ion-tab-bar slot="top">
      <ion-tab-button tab="home">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-label>Settings</ion-label>
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
      
    </ion-tab-bar>
  </ion-tabs>
<img src="assets/munchiecar.png" width="500" height="500">
  
    <ion-buttons>
      <ion-button id="ARButton" color="primary" (click)="ARscene()">Go to AR view </ion-button>
    </ion-buttons>
  </div>

  </ion-content>

</ion-app>