ion-content{
  --ion-background-color: #d46a6a;
}

#container {
  --ion-background-color: #aa3939;
  text-align: center;
  margin: 5vw;
  padding-top: 5%;
  
}

#container ion-card {
  width:auto;
  height: 200vh;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#container2 {
  margin-top: 40%;
  --ion-background-color: white;
}

#ARButton {
  width: auto;
  height: auto;
}

#munchieLogo {
  
  margin: 5% ;
  width: 50%;
  height: auto;
}

#munchieText {
  color: #FFFFFF;
}

#loginButton{
  position: relative;
  margin: 10% 0;
  
}
