#container {
  text-align: center;

  position: static;
  left: 0;
  right: 0;
  top: 0%;
  transform: translateY(0%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#ARButton {
  width: auto;
  height: auto;
}

#munchieLogo {
  margin: 20% 0;
  width: 50%;
  height: auto;
}