<ion-header>
  <ion-toolbar>
    <ion-title>
      Munchie Stop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-card>

      <img id="munchieLogo" src="assets/munchiecar2.png">
      <ion-card-title color="light" id="munchieText">
        <div id="munchieText">Munchie Stop</div>
        <ion-tabs id="loginButton">
          <ion-button color="warning" (click)="gotoLogin()">Login</ion-button>
          <ion-button color="warning" (click)="gotoLogin()">Sign Up</ion-button>
        </ion-tabs>
      </ion-card-title>

      <ion-card id="container2">
        <ion-item href="#" class="ion-activated">
          <ion-icon name="car" slot="start"></ion-icon>
          <ion-label>Register Company</ion-label>
        </ion-item>
      </ion-card>


    </ion-card>
    <!--
    <ion-buttons>
      <ion-button id="ARButton" color="primary" (click)="ARscene()">Go to AR view </ion-button>
    </ion-buttons>
  -->

  </div>

</ion-content>