<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Munchie Stop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
  
  <ion-tabs>

    <ion-button expand="block" color="primary">Log In</ion-button>
    <ion-button expand="block" color="primary" (click)="gotoLogin()">Sign Up</ion-button>

    <ion-tab-bar slot="top">
      <ion-tab-button tab="home">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-label>Settings</ion-label>
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="ar-launcher" (click)="gotoAR()">
        <ion-label>AR Scene</ion-label>
        <ion-icon name="camera"></ion-icon>
      </ion-tab-button>
      
    </ion-tab-bar>
  </ion-tabs>
  <img id="munchieLogo" src="assets/munchiecar.png">
  <!--
    <ion-buttons>
      <ion-button id="ARButton" color="primary" (click)="ARscene()">Go to AR view </ion-button>
    </ion-buttons>
  -->
    
  </div>

  </ion-content>

